.confirm-button {
  @include Align();
  background-color: $green;
  color: $background;
  text-transform: uppercase;
  padding: 0.8rem 0;
  width: 70%;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: darken($color: $green, $amount: 9);
  }
}
