$background: #f7f9f9;
$yellow: #f9a620;
$yelgre: #88c143;
$rellow: #f37735;
$green: #16db65;
$blue: #2f52e0;
$red: #ed474a;
$black1: #261c15;
$black2: #403233;

$scroll-thumb-hover: #555;
$scroll-track: #777;
$scroll-thumb: #444;
